# This file tells gcloud which files to ignore when uploading source
# If a .dockerignore file exists, gcloud uses it by default. This keeps them in sync.

# Include .dockerignore rules by default
.gcloudignore
.git
.gitignore
venv
__pycache__
*.pyc
.DS_Store
*.log
tests
*.ipynb
node_modules
build
dist
*.egg-info
Procfile
start_server.sh
render.yaml
runtime.txt
push_to_github.sh

